@charset "utf-8";

.txtCenter{text-align:center;}
.regColor{color:red;}
 .inputFocus:focus{border-color: #ccc;border-color: rgba(82,168,236,.8);outline: 0;outline: thin dotted \9;-webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);box-shadow: 0 0 8px rgba(82,168,236,.6);}
 .bdbox{border: 1px solid #ccc;border-radius: 4px;    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
 .pd5{padding: 5px 10px;}
 .titleOp1{padding-bottom:8px;display:inline-block;color: #00b4a5;}